<% layout("/layouts/boilerplate") %>

<body>
    <style>
        .resources-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .resources-header {
            text-align: center;
            margin-bottom: 20px;
        }
        .resources-header h1 {
            margin: 0;
            font-size: 2.5em;
            color: #333;
        }
        .resources-list {
            list-style-type: none;
            padding: 0;
        }
        .resources-list li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
        .resources-list li:last-child {
            border-bottom: none;
        }
        .resources-list a {
            text-decoration: none;
            color: #007BFF;
            transition: color 0.3s ease;
        }
        .resources-list a:hover {
            color: #0056b3;
        }
    </style>

    <div class="resources-container">
        <div class="resources-header">
            <h1>Farmer Resources</h1>
        </div>
        <ul class="resources-list">
            <li><a href="https://www.fao.org/family-farming/detail/en/c/1197885/" target="_blank">Resource 1: Family Farming Knowledge Platform</a></li>
            <li><a href="https://www.usda.gov/topics/farming" target="_blank">Resource 2: USDA Farming Resources</a></li>
            <li><a href="https://www.icrisat.org/" target="_blank">Resource 3: International Crops Research Institute</a></li>
            <li><a href="https://www.agriculture.com/" target="_blank">Resource 4: Agriculture.com - Farm Management</a></li>
            <li><a href="https://www.agmrc.org/" target="_blank">Resource 5: Agricultural Marketing Resource Center</a></li>
            <li><a href="https://www.ifad.org/en/" target="_blank">Resource 6: International Fund for Agricultural Development (IFAD)</a></li>
            <li><a href="https://www.cgiar.org/" target="_blank">Resource 7: CGIAR - Research for a Food Secure Future</a></li>
            <li><a href="https://www.nal.usda.gov/" target="_blank">Resource 8: National Agricultural Library</a></li>
            <li><a href="https://www.agclassroom.org/" target="_blank">Resource 9: Agriculture in the Classroom</a></li>
            <li><a href="https://www.agrilinks.org/" target="_blank">Resource 10: Agrilinks - Feed the Future</a></li>
            <li><a href="https://www.sare.org/" target="_blank">Resource 11: Sustainable Agriculture Research & Education (SARE)</a></li>
            <li><a href="https://www.farmers.gov/" target="_blank">Resource 12: Farmers.gov - USDA</a></li>
            <li><a href="https://www.soils.org/" target="_blank">Resource 13: Soil Science Society of America</a></li>
            <li><a href="https://www.agrifutures.com.au/" target="_blank">Resource 14: AgriFutures Australia</a></li>
            <li><a href="https://www.croptrust.org/" target="_blank">Resource 15: Crop Trust - Securing Our Food, Forever</a></li>
            <li><a href="https://www.asean-agrifood.org/" target="_blank">Resource 16: ASEAN AgriFood</a></li>
            <li><a href="https://www.worldbank.org/en/topic/agriculture" target="_blank">Resource 17: World Bank - Agriculture & Food</a></li>
            <li><a href="https://www.iica.int/en" target="_blank">Resource 18: Inter-American Institute for Cooperation on Agriculture (IICA)</a></li>
            <li><a href="https://www.cimmyt.org/" target="_blank">Resource 19: International Maize and Wheat Improvement Center (CIMMYT)</a></li>
            <li><a href="https://www.ilri.org/" target="_blank">Resource 20: International Livestock Research Institute (ILRI)</a></li>
            <li><a href="https://www.irri.org/" target="_blank">Resource 21: International Rice Research Institute (IRRI)</a></li>
            <li><a href="https://www.fao.org/fishery/en" target="_blank">Resource 22: FAO Fisheries & Aquaculture</a></li>
            <li><a href="https://www.ars.usda.gov/" target="_blank">Resource 23: USDA Agricultural Research Service (ARS)</a></li>
            <li><a href="https://www.ifpri.org/" target="_blank">Resource 24: International Food Policy Research Institute (IFPRI)</a></li>
            <li><a href="https://www.ipni.net/" target="_blank">Resource 25: International Plant Nutrition Institute (IPNI)</a></li>
            <li><a href="https://www.organic-center.org/" target="_blank">Resource 26: The Organic Center</a></li>
            <li><a href="https://www.buylocalthinkglobal.com/" target="_blank">Resource 27: Buy Local, Think Global</a></li>
            <li><a href="https://www.farmafrica.org/" target="_blank">Resource 28: Farm Africa</a></li>
            <li><a href="https://www.rainforest-alliance.org/" target="_blank">Resource 29: Rainforest Alliance</a></li>
            <li><a href="https://www.greenpeace.org/international/" target="_blank">Resource 30: Greenpeace International - Agriculture</a></li>
        </ul>
    </div>
</body>
